
<div class="hero-unit">
	<h1>Changelog</h1>

	<h2>Feb 11th, 2013; Promomo</h2>
	<ul>
		<li>Add Main Screen</li>
		<li>Added nice Background Image. Curtesy to <a href="http://www.flickr.com/photos/25151352@N04/4349756381">Theodore Scott</a>,<a href="http://www.flickr.com/photos/notafish/189381902/">Notafish</a> <a href="http://www.flickr.com/photos/notafish/189381852/in/photostream/">twice</a>, <a href="http://www.fotocommunity.com/pc/pc/display/27856972">Klaus Wissmann</a>, <a href="http://www.fotocommunity.com/pc/pc/display/27856972">El Caganer</a>, <a href="http://www.flickr.com/photos/vsf/3938656172/in/photostream/">Lucas Jansy</a>, <a href="http://www.flickr.com/photos/sarahvain/5916782471/">sarahstierch</a>, <a href="http://www.flickr.com/photos/sahlgoode/5892746340/">Sahlgoode</a></li>
	</ul>

	<h2>Jan 16th, 2013; Initial Version</h2>
</div>