
<div class="hero-unit" style="margin-top: 50px">
	<h1>{{app_name}}</h1>
	<h2>your personal hats collection</h2>
	<p>Let people know easily, what you are involved in to give them a quick overview of the aspects you might be able to help them with. And it looks pretty.</p>

	<a href="#addModal" role="button" data-toggle="modal" class="pull-right btn btn-primary"><span class="icon-plus icon-white"></span>&nbsp;Create Profile</a>
</div>

