<div class="modal hide fade" tw-modal id="getWidget">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Get The Widget</h3>
    </div>
    <div class="modal-body">
      	<h4>Example<h4>
      	<pre>
      		<iframe src="/widget.html#{{profile.profile_name}}" width="350" frameborder="0" height="200"></iframe>
      	</pre>
      	<h4>Your code</h4>
      	<input type="text" class="span5" value="<iframe src='http://www.mihats.com/widget.html#{{profile.profile_name}}' width='350' frameborder='0' height='200'></iframe>" />

    </div>
    <div class="modal-footer">
        <a href="#" class="btn close">Close</a>
    </div>
 </div>

<div class="container theme {{profile.theme}}">
	<div class="row">
		<div class="span4">
			<div class="container-fluid">
				<h1>{{profile.profile_name}}</h1>
				<div class="row" ng-show="profile.about">
					<p class="span">{{profile.about}}</p>
				</div>

				<div class="row" ng-show="profile.current_hats">
					<div class="span5">
						<h2>current hats</h2>
						<ul>
							<li ng-repeat="hat in profile.current_hats">
								is
								<ng-switch on="hat.what_link">
									<span ng-switch-when="">{{hat.what}}</span>
									<a ng-switch-otherwise target="_blank" href="{{hat.what_link}}">{{hat.what}}</a>
								</ng-switch>
								{{hat.preposition | defaults:"at"}}
								<ng-switch on="hat.where_link">
									<span ng-switch-when="">{{hat.where}}</span>
									<a ng-switch-otherwise target="_blank" href="{{hat.where_link}}">{{hat.where}}</a>
								</ng-switch>
								<span ng-show="hat.since">since {{hat.since}}</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="row" ng-show="profile.former_hats">
					<div class="span5">
						<h2>former hats</h2>
							<li ng-repeat="hat in profile.former_hats">
								was
								<ng-switch on="hat.what_link">
									<span ng-switch-when="">{{hat.what}}</span>
									<a ng-switch-otherwise target="_blank" href="{{hat.what_link}}">{{hat.what}}</a>
								</ng-switch>
								{{hat.preposition | defaults:"at"}}
								<ng-switch on="hat.where_link">
									<span ng-switch-when="">{{hat.where}}</span>
									<a ng-switch-otherwise target="_blank" href="{{hat.where_link}}">{{hat.where}}</a>
								</ng-switch>
								<span ng-show="hat.since">since {{hat.since}}</span>
								<span ng-show="hat.until">until {{hat.until}}</span>
							</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>